asgiref==3.10.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cssselect2==0.8.0
Django==4.2.7
django-cors-headers==4.3.1
django-ratelimit==4.1.0
djangorestframework==3.14.0
fonttools==4.60.1
gunicorn==21.2.0
idna==3.11
packaging==25.0
paystackapi==2.1.3
pillow==12.0.0
psycopg==3.2.12
psycopg-binary==3.2.12
psycopg2-binary==2.9.11
pycparser==2.23
pydyf==0.11.0
pyphen==0.17.2
python-decouple==3.8
pytz==2025.2
requests==2.31.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
urllib3==2.5.0
weasyprint==66.0
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.0
